body {
    background-color: #f8f9fa;
}

/* Main content pages */
.content-section {
    margin-top: 2rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

h1 {
    color: #077ef5
}

.list-group-item:hover {
    background-color: #f1f1f1;
    transition: background-color 0.2s ease-in-out;
}